.display-flex {
  display: flex !important;
}
.display-none {
  display: none !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.text-align-center {
  text-align: center !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-right {
  text-align: right !important;
}
.w-100 {
  width: 100% !important;
}
.margin-center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.w-80 {
  width: 80% !important;
  @media all and (max-width: $screen-sm) {
    width: 80% !important;
  }
}
.padding-1 {
  padding: 5px 15px !important;
}
.padding-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.padding-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.padding-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 1rem !important;
}
.m-2 {
  margin: 2rem !important;
}
.m-3 {
  margin: 3rem !important;
}
.mh-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.mh-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.mh-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.mh-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
.mb-6 {
  margin-bottom: 6rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.mt-5 {
  margin-top: 5rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}

$colors: (
  'black': $color_black,
  'white': $color_white,
  'blue': $color_blue,
  'dark-blue': $color_dark_blue,
  'navy': $color_navy,
  'dark-navy': $color_dark_navy,
  'green': $color_green,
  'gray': $color_gray,
  'dark-gray': $color_dark_gray,
  'red': $color_red
);

@each $color, $value in $colors {
  .btn-#{$color} {
    @if $color == 'white' {
      background-color: $color_blue !important;
      color: $value !important;
    } @else {
      background-color: $value !important;
      color: $color_white !important;
    }
    @media all and (min-width: $screen-sm) {
      &:hover {
        text-decoration: underline;
        @if $color == 'white' {
          color: $value !important;
        } @else if $color == 'green' {
          background: $color_dark_green !important;
          color: $color_white;
        } @else if $color == 'blue' {
          background: $color_dark_blue !important;
          color: $color_white;
        } @else if $color == 'dark-blue' {
          background: $color_dark_blue !important;
          color: $color_white;
        } @else {
          color: $color_white !important;
        }
      }
    }
  }
  .border-#{$color} {
    border-color: $value !important;
  }
  .border-bottom-#{$color} {
    border-left: none;
    border-right: none;
    border-bottom-color: $value !important;
  }
  .#{$color}-bg {
    background-color: $value !important;
  }
  .#{$color}-txt {
    color: $value !important;
    &:hover {
      color: $value !important;
    }
  }
  .#{$color}-link {
    a {
      color: $value !important;
    }
  }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 1000px; }
}
