$color_navy: #175985;
$color_green: #61BA45;
$color_gray: #C7C7C9;
$color_black: #000;
$color_white: #FFF;
$color_dark_gray: #555555;

$font_brandon_bold: 'BrandonGrotesqueWeb-Bold', 'Work Sans', sans-serif;
$font_brandon: 'BrandonGrotesqueWeb-Regular', 'Work Sans', sans-serif;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
